<div>
  <form action="">
    <div>
      <label>Email</label>
      <br>
      <input type="text" [(ngModel)]="email" name="email">
      <div *ngIf="emailErrorMessage"><small>{{emailErrorMessage}}</small></div>
    </div>
    <div>
      <label>Password</label>
      <br>
      <input [(ngModel)]="password" type="password" name="password">
      <div *ngIf="passwordErrorMessage"><small>{{passwordErrorMessage}}</small></div>
    </div>
    <div>
      <label>Confirm password</label>
      <br>
      <input [(ngModel)]="passwordConformation" type="password" name="passwordConformation">
      <div *ngIf="confirmPasswordErrorMessage"><small>{{confirmPasswordErrorMessage}}</small></div>
    </div>
    <div>
      <button type="button" (click)="submit()">Register</button>
    </div>
  </form>
</div>

