<div>
  <form action="">
    <div>
      <label>Email</label>
      <br>
      <input type="text" name="email">
      <span *ngIf="validEmail$"><small>{{emailErrorMessage}}</small></span>
    </div>
    <div>
      <label>Password</label>
      <br>
      <input type="text" type="password" name="password">
      <span *ngIf="validPass$"><small>{{passwordErrorMessage}}</small></span>
    </div>
    <div>
      <label>Confirm password</label>
      <br>
      <input type="text" type="password" name="passwordConformation">
      <span *ngIf="validConfirmPass$"><small>{{confirmPasswordErrorMessage}}</small></span>
    </div>
    <div>
      <button type="button" (click)="submit()">Register</button>
    </div>
  </form>
</div>

